[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/vimux-cucumber"]
	path = vim/bundle/vimux-cucumber
	url = https://github.com/cloud8421/vimux-cucumber
[submodule "vim/bundle/vimux-ruby-test"]
	path = vim/bundle/vimux-ruby-test
	url = https://github.com/pgr0ss/vimux-ruby-test
[submodule "vim/bundle/vim-turbux"]
	path = vim/bundle/vim-turbux
	url = https://github.com/jgdavey/vim-turbux
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "vim/bundle/tComment.git"]
	path = vim/bundle/tComment.git
	url = https://github.com/vim-scripts/tComment.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
